.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

.git.bak

captcha/*.jpg
!captcha/index.html

upload/company/file/*
upload/company/logo/*
upload/user_photo/*
upload/procurement/file/*
upload/shopping/file/*

!upload/index.html
!upload/company/index.html
!upload/company/file/index.html
!upload/company/logo/index.html
!upload/user_photo/index.html
!upload/procurement/index.html
!upload/procurement/file/index.html
!upload/shopping/index.html
!upload/shopping/file/index.html


upload/home_content/*
!upload/home_content/index.html

upload/temp/*
!upload/temp/index.html

application/config/database.php

env.php
/migrations

demo
dev
.git.fix
